@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    text-align: center;
    background-color: black;
    color: white;
}

header h1 {
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
    font-family: var(--font2);
}

header p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 25vh;
    padding-bottom: 25vh;
    padding-left: 30px;
    font-family: var(--font3);
    line-height: 2em;
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
